doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section

        h1 Lampu CCTV


      section
        h2 1.Pengertian Lampu CCTV
        <P>CCTV (Closed Circuit Television) merupakan sebuah perangkat kamera video digital yang digunakan untuk mengirim sinyal ke layar monitor di suatu ruang atau tempat tertentu. Hak ini bertujuan untuk menghindari tindakan kejahatan yang terjadi</P>

      section
        h2 2.Manfaat dari lampu CCTV
        <p>Lebih meningkatkan keamanan fungsi utama dari lampu CCTV menampilkan sekaligus merekam gambar secara live, artinya gambar yang diambil oleh kamera pengintai dan ditampilkan melalui monitor merupakan aksi dan kejadian yang terjadi.</p>

      section
        h2 Kekurangan Dari lampu CCTV
        <p>Sayangnya, CCTV mempunyai kemampuan terbatas, kamera ini tidak dapat merekam suara dan kadang-kadang dapat dimanipulasi dengan menutupi alat perekam karet pada lensa, atau dengan menempelkan rekaman yang diulang-ulang sehingga pengawas CCTV menganggap tidak terjadi apa-apa.Jika kamera diposisikan salah, hasil rekaman tidak akan maksimal.sebaliknya pilihlah tempat yang dapat menjangkau kegiatan di semua ruangan.</p>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')